<!DOCTYPE html>
<html>
  <head>
    <title>OrbitMines - Minecraft Server</title>
    <meta property="og:title" content="OrbitMines">
    <meta property="og:type" content="game">
    <meta property="og:url" content="https://www.orbitmines.com">
    <meta property="og:site_name" content="OrbitMines - Minecraft Server">
    <meta name="description" content="OrbitMines is a unique and raipidly growing Minecraft server. Join us with the IP: <%= OrbitMines::IP %>">
    <meta name="keywords" content="orbitmines,orbitmines.com,minecraft,minecraft server,server,minecraft survival,minecraft kitpvp,survival,kitpvp,minecraft pvp,minecraft pve,">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
